exports.customEnvironment =
  { "NODE_ENV": "development",
    "PORT": "80",
    "DATABASE_HOST": "somehost",
    "DATABASE_NAME": "somename",
    "DATABASE_PASSWORD": "somepassword",
    "DATABASE_USER": "mayberoot",
    "ROOMORAMA_ACCESS_TOKEN": "sometoken",
    "ZENDESK_ACCESS_TOKEN": "sometoken"
  };